*,
::before,
::after {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
  vertical-align: baseline;
}

html {
  font-size: 21px;
}

body {
  font-family: Adobe Caslon Pro;
  line-height: 1.4;

  max-width: 32rem;
  margin: 0 auto;
  padding: 3rem;

  font-variant-numeric: proportional-nums oldstyle-nums;
  hanging-punctuation: first last allow-end;
}

* + * {
  margin-top: 1rem;
}

p + p {
  text-indent: 1rem;
  margin-top: 0;
}

h1 {
  text-transform: uppercase;
  font-feature-settings: "case", "titl", "cpsp";
  letter-spacing: 0.08em;

  margin-bottom: 6rem;
}

h2 {
  font-style: italic;

  margin-top: 4rem;
  margin-bottom: 2rem;
}

code {
  font-family: Input Sans;
  font-size: 0.75em;
  font-feature-settings: "ss02", "ss11", "ss12";
}

sup {
  font-variant-position: super;
}
