*,
::before,
::after {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}

html {
  font-size: 21px;
}

body {
  font-family: Adobe Caslon Pro;
  line-height: 1.4;

  max-width: 32rem;
  margin: 0 auto;
  padding: 3rem;

  font-variant-numeric: proportional-nums oldstyle-nums;
}

* + * {
  margin-top: 1rem;
}

code {
  font-family: Input Sans;
  font-size: 0.75em;
}
